@font-face { font-family: starmap;  src: url('../assets/fonts/starmap.ttf'); }


html { background: black; }
canvas { width: 100%; height: 100%; }
div { border: 3px solid red; background: white; padding: 0; margin: auto; display: block; width: 1000px; height: 480px; }
